.inputField {
    display: flex;
    justify-content: center;
    margin: 15px;
    .img-link input{
        width: 300px;
    }
    .season-name input{
        width: 150px;
    }
    .season-num input {
        width: 100px;
    }
    span {
        font-weight: bold;
        margin:0 1px 0 22px;
    }
    .add-button button{
        margin-left: 15px;
        padding: 2px;
        width: 80px;
        background-color: blue;
        color: white;
        border: none;
    }
}