.header {
    border: 1px solid black;
    width: 98.5%;
    height: 50px;
    margin: 10px;
    background-color: red;
    color: silver;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h2 {
    color: black;
    
}

.header ul {
    display: flex;
    
}
.header ul li {
    display: flex;
    list-style-type: none;
    margin: 0 40px;
    font-size: 24px;
    color: black;
}

.header input {
    height: 20px;
    align-items: center;
    border-style: none;
    outline: none;
}

.header a {
  text-decoration: none;
  color: black;
}